@import "../fonts/stylesheet.css";

// COLORS
$marron: rgb(71,53,47);
$orange: rgb(253, 138, 0);
$beige: rgb(253, 241, 221);
$noir: rgb(41, 32, 32);


// FONTS
$refractaire: "la_refractaire", sans-serif;
$karla: "karla", sans-serif;
$gimlet: "gimlet", serif;
$gimletNarrow: "gimlet_narrow", serif;