// I M P O R T
@import "_font-awesome.scss";
@import "_variables.scss";

*{
	box-sizing: border-box;
}

body{
	width: 100%;
	margin:0;
	font-family: $gimlet;
	font-size: 12px;
	background-color: $beige;
}

img{
	max-width: 100%;
	width: 100%;
}

ul{
	margin: 0;
	-webkit-padding-start: 0px; 
	li{
		list-style: none;
	}
}

h1{@include h1;}
h2{@include h2;}
h3{@include h3;}

p{
	@include p;
}

a{
	text-decoration:none; 
	color: $marron;
	@include p;
	&:hover{
		text-decoration:underline; 
	}
}

figure{
	margin: 2em 0 1em 0;
}


.no-padding{
	padding:0;
}

header{
	width: 100%;
	a:hover{text-decoration:none;}
	.menusecondaire{
		background-color: $marron;
		padding: 15px 35px;
		.menusecondaire-el{
			display: flex;
		  justify-content:flex-end;
		  & ul {
		    display: flex;
		    & a {
		      padding: 1rem 1rem;
		    }
		  }
			li{
				text-align: right;
			}
		}
		a{
			text-transform: uppercase;
			color: $orange;
			font-size: 12px;
			text-align: right;
			font-family: $karla;
			font-weight:bold;
			letter-spacing: 1px;
			&:hover{
				color: #FFF;
			}
		}
	}
	.social-network{
		width: 90%;
		padding: 15px 35px 0px;
		a{
			color: $orange;
			font-size: 1.5em;
			&:hover{
				color: $marron;
			}
		}
	}

	.menu{
		margin-top: 2em;
		position:relative;
		display: flex;
	  justify-content: center;
	  & ul {
	    display: flex;
	    position:relative;
	    & a {
	      padding: 1rem 1rem;
	    }
	  }
		li{
			text-align:left;
			&:hover .submenu{
				//display:flex;
				height:auto;
				padding: 1em 4em;
				border-left: 1px solid $noir;
				border-right: 1px solid $noir;
				border-bottom: 1px solid $noir;
			}
		}
		a{
			color: $marron; 
			font-size: 21px;
			font-weight: bold;
			text-transform:uppercase;
			font-family: $refractaire;
			letter-spacing: 1px;
			&:hover{
				color: $orange;
			}
		}
		.submenu{
			position: absolute;
			background-color: $beige;
			padding: 0 4em;
			z-index: 100;
			width:100%;
			overflow:hidden;
			//display:none;
			transition: all 0.5s linear;
			height:0;
			.colonne{
				border-right: 1px solid $noir;
				padding-left: 2em;
				padding-right: 2em;
				&:first-child{
					padding-left: 0;
				}
				&:last-child{
					border:none;
					padding-right: 0;
				}
			}
			a{
				font-family: $karla;
				font-size: 12px;
				span{display:block;}
				span.sub-title{font-weight:bold;}
				span.sub-period{font-weight:normal;}
			}
		}
	}
}

.slider{
	margin-top: 1.5em;
	margin-bottom: 8px;

	overflow:hidden;
	.slick-slide{
		position:relative;
		height: 300px;
	}
	.image-wrapper{
		&::before {
    	content:"";
	    display: block;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    background-color: rgba(0, 0, 0, .5);
		}
	}
	.description{
		position: absolute;
		width: 80%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		p{
			color: $orange;
			font-size: 1.5em;
			line-height: 1.4;
		}
	}
	.link{
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translate(-50%, 0);
		a{
			color: #FFF;
			font-family: $karla;
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 1px;
			&:hover{
				color: $orange;
			}
		}
	}
	.slick-prev, .slick-next{
		z-index: 100;
	}
	.slick-prev{
		left: 10px;
	}
	.slick-next{
		right: 10px;
	}
}

.showcase{
	display: flex;
  flex-flow: row wrap;
	.showcase-el {
		position: relative;
	  flex: auto;
	  height: 250px;
	  min-width: 150px;
	  padding: 0 8px 0 8px; /* Some gutter */
	  margin: 8px 0 8px 0; /* Some gutter */
	  overflow:hidden;
	  &:nth-child(4n+1){
	     width: 66%;
	     padding-left:0;
	  }
	  &:nth-child(4n+2){
	    width: 34%;
	    padding-right:0;
	     .image-wrapper{
	     	height:100%;
			  	img{
			  		height: 100%;
			  		width: auto;
			  		max-width: none;
			  	}
		  }
	  }
	  &:nth-child(4n+3){
	    width: 34%;
	    padding-left:0;
     	.image-wrapper{
     		height:100%;
		  	img{
		  		height: 100%;
		  		width: auto;
		  		max-width: none;
		  	}
		  }
	  }
	  &:nth-child(4n+4){
	     width: 66%;
	     padding-right:0;
	  }
	  .title{
	  	position:absolute;
	  	background-color: rgba(0, 0, 0, .5);
	  	top:30px;
	  	width: auto;
	  	color: $orange;
	  	font-family: $refractaire;
	  	font-size:25px;
	  	text-transform:uppercase;
	  	font-weight:normal;
	  	letter-spacing: 2px;
	  	padding: 10px 10px 5px 20px;
	  }
	  &:hover .description{
	  	//display:block;
	  	bottom:0px;
	  	height: 80px;
	  	padding: 10px 15px 5px;
	  }
	  .description{
	  	position:absolute;
	  	background-color: rgba(0, 0, 0, .5);
	  	bottom:-10px;
	  	width: 98.5%;
	  	// height: 80px;
	  	height:0px;
	  	transition: all 0.8s ease;
	  	padding: 0px 15px 5px;
	  	//display:none;
	  	color: #FFF;
			font-size: 12px;
			text-align:left;

	  	.description-text{
	  		p{
	  			margin-top:0;
	  			color: #FFF;
			  	font-size: 12px;
			  	text-align:left;
			  	line-height: 1.4;
	  		}
	  		margin-bottom: 1em;
				overflow:hidden;
	  		text-overflow: ellipsis;
	  		height: 33px; 
	  	}
	  }
	}
}

.page-header{
	margin-top: 1.5em;
	position:relative;
	.image-wrapper{
		height:400px;
		overflow:hidden;
		position:relative;
		img{
			position:absolute;
			top:50%;
			margin-top: -300px;
		}
	}
	.title-header{
		background-color: $beige;
		position:absolute;
		bottom: -50px;
		left: -1.5em;
		padding: 0em 2em 1em 2em;
	}
}

.page-content{
	background-color: #FFF;
	margin-top: 50px;
	padding-bottom: 50px;
	.main-text{
		padding-bottom: 40px;
	}
	.dates{
		margin-top: 2em;
		h3 + p{
			margin-top:0;
		}
		li{
			margin-top: 1em; 
			&:before{
				content: "—";
				padding-top: 1em;
				color: $orange;
				font-weight:bold;
			}
			.date-link{
				margin-top: 1.5em;
				margin-bottom: 2.5em;
				a{
					padding:10px;
					background-color: $marron;
					color: #FFF;
					text-transform: uppercase;
					font-family: $karla;
					letter-spacing: 2px;
					margin-top: 1em;
					margin-bottom: 1em;
					&:hover{
						color: #FFF;
						background-color: $orange;
						text-decoration:none;
					}
				}

			}
		}
	}
}

.inner-infos-text{
	padding-top: 1.5em;
	h3+p{margin-top:0}
	.info-el{
		margin-bottom: 2em;
	}
}

.document{
	ul{
		display:inline-block;
		margin-right: 0.5em;
		vertical-align: middle;
	}
	li{
		display:inline-block;
		margin-right: 0.5em;
		vertical-align: middle;
		svg{
			fill: $marron;
		}
	}
}

.page-navigation{
	padding-top: 20px;
	border-top: 1px dotted #000;
	font-weight:bold;
}




